@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --graphic-height: 200px;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    background: linear-gradient(180deg, rgba(175, 103, 233, 1) 0%, rgba(101, 101, 231, 1) 50%);
    color: hsl(240, 6%, 50%);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1 {
    color: hsl(237, 12%, 33%);
    font-size: 32px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

main {
    width: min(1200px, 100%);
    margin: var(--graphic-height) 30px 0;
    background-color: #fff;
    border-radius: 20px;
}

.container {
    position: relative;
    display: block;
    width: 100%;
    gap: 30px;
}

.image-section {
    flex-basis: 45%;
}

.graphic-desktop {
    display: none;
}

.graphic-mobile {
    width: 100%;
}

.graphic-mobile img {
    position: absolute;
    top: calc(var(--graphic-height) * -1);
    left: 50%;
    transform: translateX(-50%);
}

.box-graphic {
    position: absolute;
    top: 63%;
    left: -35px;
    width: 70px;
    transform: translateY(-55%);
}

.faq-section {
    flex-basis: 55%;
    align-self: center;
    padding: 30px;
}

.accordion {
    margin-top: 30px;
}

.accordion-panel {
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    cursor: pointer;
}

.accordion-header .arrow {
    width: 16px;
}

.accordion-body {
    display: none;
    margin-top: 15px;
    padding-right: 20px;
}

.accordion-panel.active .question {
    color: hsl(237, 12%, 33%);
    font-weight: bold;
}

.accordion-panel.active .arrow {
    rotate: 180deg;
    transition: all 300ms ease-out;
}

.accordion-panel:not(.active) .arrow {
    transition: all 100ms ease-in-out;
}

.accordion-panel.active .accordion-body {
    display: block;
}

@media (min-width: 375px) {
    main {
        --graphic-height: 250px;
    }

    .graphic-mobile img {
        --graphic-height: 250px;
    }
}

@media (min-width: 450px) {
    main {
        --graphic-height: 300px;
    }

    .graphic-mobile img {
        --graphic-height: 300px;
    }
}

@media (min-width: 500px) {
    main {
        --graphic-height: 350px;
    }

    .graphic-mobile img {
        --graphic-height: 350px;
    }
}

@media (min-width: 1100px) {
    main {
        margin: 0 30px;
    }
    .container {
        display: flex;
        height: 600px;
    }

    .graphic-desktop {
        display: block;
    }

    .graphic-mobile {
        display: none;
    }

    .faq-section {
        padding: 50px;
    }
}
