@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(180deg, rgba(175, 103, 233, 1) 0%, rgba(101, 101, 231, 1) 50%);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: hsl(240, 6%, 50%);
}

.container {
    width: 70vw;
    height: 70vh;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    border-radius: 25px;
    position: relative;
}

.bg-desktop {
    position: absolute;
    top: -25%;
    left: -45%;
}

.woman-online-desktop {
    position: absolute;
    top: 20%;
    left: -5%;
}

.box-desktop {
    position: absolute;
    top: 37%;
    left: -6%;
}

.faq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.faq-container h3 {
    font-size: 32px;
    color: hsl(237, 12%, 33%);
    margin-bottom: 1rem;
}

.accordion-panel {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding: 1.25rem 0;
}

.accordion-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.accordion-body {
    display: none;
}

.open > .accordion-body {
    display: block;
}

.open .accordion-header {
    font-weight: bold;
}
.open svg {
    transform: rotate(180deg);
}

.svg-container {
    width: 45%;
    margin: auto 0;
}

@media (max-width: 1500px) {
    .bg-desktop {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }
    .woman-online-desktop {
        width: 50%;
    }
    .container {
        padding: 1rem;
    }
}
