@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
    --primary-color: hsl(172, 67%, 45%);

    --primary-very-dark: hsl(183, 100%, 15%);
    --primary-dark-1: hsl(186, 14%, 43%);
    --primary-dark-2: hsl(184, 14%, 56%);
    --primary-light-1: hsl(185, 41%, 84%);
    --primary-light-2: hsl(189, 41%, 97%);

    --color-white: hsl(0, 0%, 100%);
    --color-red: hsl(4, 89.6%, 58.4%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-light-1);
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 2rem 1rem;
}

header {
    margin-top: 2rem;
    padding: 2rem;
    color: var(--primary-very-dark);
    font-size: 20px;
    letter-spacing: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 10px;
}

form {
    margin-right: 2rem;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

label:not(.btn-group label),
.btn-group-label {
    margin-bottom: 5px;
    color: var(--primary-very-dark);
    font-size: 14px;
}

.btn-group-label {
    margin-bottom: 15px;
}

.error-message {
    display: none;
    /* add this in js */
    /* display: inline-block; */
    margin-left: 2rem;
    color: var(--color-red);
}

.input-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-light-2);
    border-radius: 4px;
}

.input-item:focus-within {
    outline: 3px solid var(--primary-color);
    animation: fade-in ease-in-out 0.15s;
}

.input-item.error:focus-within {
    outline: 3px solid var(--color-red);
}

.input-item > img {
    padding-left: 10px;
}

.input-item input {
    width: 100%;
    padding: 0 10px;
    background-color: var(--primary-light-2);
    color: var(--primary-very-dark);
    font-size: 24px;
    text-align: right;
    border: none;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.btn-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
}

.btn-group input[type='radio']:checked + .btn {
    background-color: var(--primary-color);
    color: var(--primary-very-dark);
}

.custom-tip {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    margin: auto;
    padding: 0 10px;
    background-color: var(--primary-light-2);
    color: var(--primary-very-dark);
    font-size: 16px;
    text-align: right;
    border: none;
    outline: 3px solid var(--primary-color);
    animation: fade-in ease-in-out 0.15s;
}

input[type='radio'] {
    display: none;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2.5rem;
    background-color: var(--primary-very-dark);
    border-radius: 10px;
}

.calc-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

.title {
    color: var(--color-white);
    font-size: 12px;
}

.subtitle {
    color: var(--primary-dark-2);
    font-size: 10px;
}

.dollar > img {
    width: 15px;
}

.dollar-icon {
    filter: invert(60%) sepia(12%) saturate(2161%) hue-rotate(148deg) brightness(100%) contrast(150%);
}

.dollar-number {
    color: var(--primary-color);
    font-size: 30px;
}

.calc-button {
    margin-top: auto;
}

.calc-button > .btn {
    width: 100%;
}

.btn {
    padding: 0.5rem 1.5rem;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-very-dark);
    color: var(--color-white);
    transition: color 0.15s ease-in-out, background-color 0.3s ease-in-out;
}

.btn-secondary {
    background-color: var(--primary-dark-1);
    color: var(--primary-light-1);
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: var(--primary-color);
    color: var(--primary-very-dark);
}

.btn-light {
    background-color: var(--primary-light-2);
    color: var(--primary-very-dark);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 750px) {
    main {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    main {
        padding: 2rem 1rem;
    }
    form {
        margin-right: 0;
    }
    .btn-group {
        grid-template-columns: repeat(2, 1fr);
    }
    .calculator {
        padding: 1.5rem;
    }
    .dollar img {
        width: 12px;
    }
    .dollar-number {
        font-size: 26px;
    }
}

/* Frontend Mentor */
.attribution {
    margin-top: 2rem;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: var(--primary-color);
    text-decoration: none;
}
